<h1>Listing analysis_tasks</h1>

<table>
  <tr>
    <th>Id</th>
    <th>Server</th>
    <th>Run</th>
    <th>Project name</th>
    <th>Description</th>
    <th>Script template</th>
    <th>Script params</th>
    <th>Duration</th>
    <th>Status</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @analysis_tasks.each do |analysis_task| %>
  <tr>
    <td><%= analysis_task.id %></td>
    <td><%= analysis_task.server_id %></td>
    <td><%= analysis_task.run_id %></td>
    <td><%= analysis_task.project_name %></td>
    <td><%= analysis_task.description %></td>
    <td><%= analysis_task.script_template %></td>
    <td><%= analysis_task.script_params %></td>
    <td><%= analysis_task.duration %></td>
    <td><%= analysis_task.status %></td>
    <td><%= link_to 'Show', analysis_task %></td>
    <td><%= link_to 'Edit', edit_analysis_task_path(analysis_task) %></td>
    <td><%= link_to 'Destroy', analysis_task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Analysis task', new_analysis_task_path %>
